@import './reset';
@import '../../node_modules/react-tabs/style/react-tabs.scss';
@import './fonts';


// COLORS
$gray: #F6F6FA;
$darkblue: #0923A8;
$lightBlue: lighten($darkblue, 30%);
$lightGray: #B4B4B4;
$textGray: #A6A6A6;
$uiGray: #EBEBF4;
$uiRed: #FE3F39;
$uiOrange: #FF4C00;
// END OF COLORS

// MARGIN PADDING HACKS
$margin20: 20px;
$padding20: 20px;
$margin40: 40px;
$fullWithout20: calc(100% - 20px);
$fullWithout40: calc(100% - 40px);
$fullWithout60: calc(100% - 60px);
$fullWithout80: calc(100% - 80px);
// END OF HACKS

// FONTS
$fontMain : 'Space Grotesk', Arial, Helvetica, sans-serif;
// END OF FONTS

body {
    font-family: $fontMain;
}

section {
    width: 100vw;
    // height: 100vh;
}


.pageTitle {
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    margin: 35px 0;
}

/////////////////
// HEADER
/////////////////
.mainNav {
    z-index: 1;
    width: 100%;
    background: white;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;   
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-height: 100px;
    height: 100%;
    
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: '100%';

    }
    img{
        width: 27px;
        height: 27px;
    }

    li {
        margin: 30px 0;
    }

    a {
        display: block;
        padding: 6px 10px;
        border-radius: 5px;
        filter: gray;
        -webkit-filter: grayscale(1);
        opacity: 0.3;
        &.activeLink {
            filter: none;
            -webkit-filter: grayscale(0);
            opacity: 1;
        }
    }
}

/////////////////
// MAP VIEW
/////////////////
.mapsView {
    margin: 0 20px;
    width: $fullWithout40;
}

.searchPlace {
    margin: 50px 0px 20px 0px;
    width: 100%;
    label {
        font-weight: bold;
    }

    input {
        width: $fullWithout20;
        color: $lightGray;
        background-color: $gray;
        padding: 20px 0 20px 15px;
        font-family: $fontMain;
        font-weight: 500;
        font-size: 16px;
        border: 0;
        margin-top: 15px;
    }

    &__input {
        position: relative;
        overflow: hidden;
        svg {
            position: absolute;
            right: 20px;
            top: 50%;
        }
    }
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mapContainer {
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 66vh;
}

.basicPlaceInfos {
    width: calc(100% - 120px);
    position: absolute;
    left: 40px;
    display: block;
    padding: 20px;
    margin: 0 auto;
    border-radius: 5px;
    background: #FFF;

    &__content {
        display: flex; 
        justify-content: center;
        align-items: center
    }

    &__picture {
        img{
            width: 60px;
            height: 60px;
            margin-right: $margin20;
            border-radius: 6px;
        }
    }

    h2 {
        font-weight: 700;
        margin-bottom: 10px;
    }

    p {
        font-size: 13px;
        font-weight: 500;
        color: $textGray;
        line-height: 1.5;
    }

    &__btns {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        border-top: 1px solid $uiGray;

        button {
            cursor: pointer;
            padding: 20px 0 0 0;
            font-weight: 500;
            color: $uiRed;
            font-size: 13px;
            font-family: $fontMain;
        }
    }
}

.basicBotNotif{
    bottom: 15%;
}

.basicTopNotif{
    top: 40%;
    z-index: 2;
    width: 40%;
}

.notifNextoPlace {
    padding: 16px 20px;
    background-color: #0923A8;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    width: calc(100% - 80px);
    z-index: 1;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        text-decoration: none;
    }
    svg {
        margin-right: 20px;
        width: 35px;
        height: auto;
    }

    p {
        font-size: 13px;
        color: #FFFFFF;
        font-weight: 500;
        line-height: 1.5;
    }
    
}

@keyframes fadeOutIn {
    from {
        opacity: 1;
    }
    25% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }

}

.loadingMap {
    width: 100%;
    background: $darkblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        animation: fadeOutIn 4s ease-in infinite;
    }
}

/////////////////
// NO PLACE FOUND
/////////////////
.placeNotFound {
    background-color: $darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    color: #FFFFFF;

    &__message {
        text-align: center;
        line-height: 1.5;
        font-weight: 700;
        font-size: 15px;
    }

    svg {
        margin: 40px 0 30px 0;
    }

    &__help {
        font-size: 13px;
        font-weight: 500;
        line-height: 1.5;
        margin: 0 50px 80px 50px;
    }

    a {
        font-size: 13px;
        font-weight: 500;
        color: $uiRed;
        text-decoration: none;
        padding: 15px 30px;
        background-color: #FFFFFF;
        border-radius: 5px;
    }
}


/////////////////
// PLACE INFOS
/////////////////
.react-tabs__tab-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
    margin: 0;
}

.react-tabs__tab {
    padding: 20px;
    font-size: 15px;
    font-family: $fontMain;
    font-weight: 700;
    color: #CBCBCB;
    outline: 0;
    flex-basis: 33%;
    text-align: center;
    transition: border-bottom, color .5s ease;

    &:focus {
        outline: 0;
    }
}

.react-tabs__tab:focus {
    box-shadow: none;
    border-color: transparent;
    outline: none;
    border-bottom: 4px solid $uiOrange;
}

.react-tabs__tab-panel {
    margin-top: 1px;
}

.react-tabs__tab--selected {
    color: $uiOrange;
    border: none;
    border-bottom: 4px solid $uiOrange;
}

.styles_wrapper__3KXDn {
    top: 0 !important;
}

.styles_content__1Phom {
    cursor: url('https://m2groupe4.ecvdigitalbdx.fr/assets/img/pointer.svg') 20 12, auto !important;	
}

.placeCard {
    width: calc(100% - 80px);
    margin: 0 20px 20px 20px;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 5px;
}


.placeInfos__infos {
    background: $gray;
    padding: 20px 0;

    li {

        h2 {
            font-size: 15px;
            font-weight: 700;
            margin-bottom: 15px;
        }

        p {
            font-size: 13px;
            color: $textGray;
            line-height: 1.5;
            font-weight: 500;
        }
        img {
            width: 295px;
            height: 295px;
            display: block;
            margin: 0 auto;
            border-radius: 5px;
        }
    }



    &__colored {
        p {
            border-left: 4px solid $darkblue;
            padding-left: 20px;
        }
    }
}


.placeInfos__infos__history {
    margin-bottom: 0;
}